@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins';
}

.container{
    border-radius: 2px soild black;
}

.background{
    background-color: rgb(196, 195, 195);
}